body {
    background-image: url(../img/background.jpg);
    background-repeat: repeat-y;
    background-position: center;

}


.colorFondoNav {
    background-color: red;
}

.fotos{ 
    height: 14em;
}

.ancho {
    width: 14em;
}


