body {
    background-image: url(../img/background.jpg);
    
    background-position: center;

}


.colorFondoNav {
    background-color: rgba(128, 128, 128, 0.613);
}

.fotos{ 
    height: 14em;
}

.ancho {
    width: 14em;
}

.nombreCenote { 

}
